body{
  background-color: rgb(17, 19, 22);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  align-items: center;
}

.contenido{
  justify-self: center;
  align-self: center;
  margin-top: 120px;
  text-align: center;
}


